@charset "UTF-8";
/*couleurs principales*/
/*couleurs de fond*/
/*couleurs de fond*/
/* police */
/* Tailles */
/*
ligne a écrire dans le terminal pour compiler le SASS vers CSS :
" ./dart-sass/sass sass/pages.scss pages.css --watch "

*/
/*-----------------------------------------------------------------------------------------*/
/*------------------------------ PAGE HTML-------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.general_container {
  align-items: center;
  margin: auto;
  width: 375px;
}

body {
  font-family: Roboto;
  height: auto;
}

/*--------------Header du site et Logo----------------------------------*/
.en-tete-logo {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 375px;
  position: relative;
  height: 63px;
  width: 375px;
}
.en-tete-logo a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 63px;
  width: 35px;
}
.en-tete-logo a i {
  font-size: 18px;
  position: absolute;
  left: 22px;
}
.en-tete-logo img {
  object-fit: contain;
  height: 45px;
  width: 165px;
}

/*--------------Image illustration du site internet en début de page ----------------------------------*/
.illustration_restaurant {
  width: 375px;
  height: 270px;
  position: relative;
  object-fit: cover;
  z-index: -1;
}
.illustration_restaurant img {
  width: 375px;
  height: 330px;
  object-fit: cover;
  background-attachment: fixed;
  position: relative;
}

/*-------------MENU----------------------------------*/
.menu {
  border-radius: 35px 35px 0px 0px;
  width: 375px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  background-color: #f6f6f6;
  /*--------Call to action---------------*/
}
.menu .nom_du_restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 335px;
  height: 35px;
}
.menu .nom_du_restaurant h1 {
  font-family: "Shrikhand", cursive;
}
.menu .entree_plat_dessert {
  height: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 35px;
}
.menu .entree_plat_dessert .titre_entree_plat_dessert {
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu .entree_plat_dessert .titre_entree_plat_dessert h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 5px;
}
.menu .entree_plat_dessert .titre_entree_plat_dessert .titre_souligné {
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
}
.menu .entree_plat_dessert .produit {
  height: 70px;
  width: 350px;
  border-radius: 15px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 8px #00000046;
  padding: 5px;
}
.menu .entree_plat_dessert .produit .description_produit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 290px;
  height: 70px;
  padding: 10px;
}
.menu .entree_plat_dessert .produit h3 {
  font-weight: 400;
  text-decoration: none;
}
.menu .entree_plat_dessert .produit p {
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}
.menu .entree_plat_dessert .produit h4 {
  position: absolute;
  right: 22px;
  top: 40px;
  text-decoration: none;
}
.menu a button {
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  border: none;
  color: white;
  width: 215px;
  height: 50px;
  box-shadow: 0px 0px 8px #00000046;
  bottom: 80px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 80px;
}

/*--------------Call to action----------------------------------*/
/*--------------Footer ----------------------------------*/
footer {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;
  color: white;
  text-decoration: none;
  width: 375px;
  height: 200px;
}
footer a svg {
  width: 100px;
  height: 30px;
}
footer .Proposer_un_restaurant {
  display: flex;
  width: 180px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
footer .Proposer_un_restaurant i {
  font-size: 12px;
}
footer .Devenir_partenaire {
  display: flex;
  width: 148px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
footer .Devenir_partenaire i {
  font-size: 12px;
}
footer a {
  text-decoration: none;
  color: white;
}

/*-----------------------------------------------------------------------------------------*/
/*------------------------------ FIN INDEX.HTML--------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

/*# sourceMappingURL=pages.css.map */
