@import "librairies/variables.scss";



/*
ligne a écrire dans le terminal pour compiler le SASS vers CSS :
" ./dart-sass/sass sass/style.scss style.css --watch "

*/


/*-----------------------------------------------------------------------------------------*/
/*------------------------------ PAGE INDEX.HTML-------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.general_container{
    align-items:center;
    margin:auto;
    width:375px;
    animation: chargement_page_accueil 2s ease-in-out;
}

.spinner_container{
    position: absolute;
    top: 50%;
    right:50%;
    left:50%;
    animation: intro_loading_spinner 2s forwards;
    background-color: red;
        .fa-spinner{
            width: 40px;
            height:40px;
            animation:spinner 1s linear infinite;
            align-items: center;
            font-size: 40px;
        }
}

body{
    font-family: Roboto;
    
}
/*--------------Header du site et Logo----------------------------------*/
header{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: $maquette-size;

    img{
        object-fit: contain;
        height: 45px;
        width: 175px;
    }
}




/*--------------Section localisation en début de site ----------------------------------*/
.localisation{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color : $background-medium;
    width: $maquette-size;
    height: 50px;
    font-weight: 200;
    box-shadow: inset 0px 3px 1px #d5d5d5;

    .details_localisation{
        width:160px;
        height:25px;
        display: flex;
        justify-content: space-between;
    }

    i{
        width: 2em;
    }

    p{
        font-size: 16px;
        font-weight:normal;
    }
}


/*--------------Introduction au site avec balise H1 et  call to action ----------------------------------*/

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 3%;
    background-color : $background-light;
    width: $maquette-size;
    height: 290px;
    h1{
        font-weight: bold;
        font-size: 1.5rem;
    }

        a {
            
            border-radius : 25px;
            background-image: $calltoaction;
            border:none;
            color :white;
            width:215px;
            height:50px;
            box-shadow : $ombrage;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            display: flex;

            &:hover{
               transform: scale(1.02) ;
            }
            
        }
    }





/*--------------Fonctionnement du site----------------------------------*/
.fonctionnement_du_site{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 440px;
    width: $maquette-size;
    padding: 20px;
  
}

.regle_fonctionnement{
    display:flex;
    align-items: center;
    text-align:center;
    width:$object-size;
    height: 75px;
    background-color:$background-light;
    padding : 0;
    box-shadow : $ombrage;
    border-radius : 15px;
    font-weight: bold;
    position: relative;
    padding-left:30px;

    &:hover{
        background-color: $hover-color-light;
    }
    

    .choissisez_restaurant{
        display:flex;
        justify-content: space-between;
        align-items: center;
        text-align:center;
        width: 220px; 
        height:30px;

        p{
            font-weight: 400;
            font-size: 16px;
        }
        
    }

    .composez_menu{
        display:flex;
        justify-content: space-between;
        align-items: center;
        text-align:center;
        width: 202px;
        height:30px;

        p{
            font-weight: 400;
        }
    }

    .dégustez_restaurant{
        display:flex;
        justify-content: space-between;
        align-items: center;
        text-align:center;
        width: 210px;
        height:30px;

        p{
            font-weight: 400;
        }
    }
}

.number_purple_circle{
    display: inline-block;
    width:25px;
    height:25px;
    background-color:$primary-color;
    border-radius:50%;
    position: absolute;
    left: -10px;
    padding: 5px;
    z-index:2;
 
    p{
        color:white;
        font-size:12px;
        font-weight: 400;
    }
}



/*--------------Section restaurant ----------------------------------*/


#restaurants{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    height: 1230px;
    width:$maquette-size;
    background-color:$background-light;

    h2{
        width: $object-size;
        height:30px;
    }

    
        .card_restaurant{
            display: flex;
            flex-direction: column;
            width:$object-size;
            height: 250px;
            border-radius: 15px;
            box-shadow : $ombrage;
            position: relative;
            background-color: white;

            &:hover{
                transform: scale(1.01) ;
             }
            
            a{
            text-decoration: none;

                img{
                    object-fit: cover;
                    height: 175px;
                    width:$object-size;
                    border-radius: 15px 15px 0px 0px;
                }
        
                .btn_nouveau {
                    background-color :$green-background;
                    color:$green-font;
                    font-weight:500;
                    font-size:14px;
                    padding: 6px;
                    width: 80px;
                    height:30px;
                    position:absolute;
                    top: 13px;
                    right: 12px;
                    text-align: center;
                    border-radius: 5px;
                }
        

                .description_restaurant{
                    display: flex;
                    background-color:white;
                    text-align: center;
                    align-items: center;
                    justify-content: space-between;
                    padding: 2%;
                    height:77px;
                    width:$object-size;
                    border-radius: 0px 0px 15px 15px;
                    position: relative;
            

                        .text_description_restaurant{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 2%;
                            text-decoration: none;
                                    h3{
                                        text-decoration: none;
                                        color:black;
                                    }
                                    p{
                                        text-decoration: none;
                                        color:black;
                                    }
                                }
                     
                                .far{
                                    opacity: 100%;
                                    position: absolute;
                                    right: 10px;
                                    font-size: 18px;
                                    z-index: 0;
                                    font-weight: 200;
                                    color: black;
                                    &:hover{
                                            font-weight: 900;
                                            background-image: $loveaction;
                                            -webkit-text-fill-color: transparent;
                                            -webkit-background-clip: text; 
                                            animation: heart 0.15s cubic-bezier(0,.69,1,-0.05);
                                        }
                                }
                                @keyframes heart {
                                    0%{
                                        opacity: 0%;
                                    }
                                    50% {
                                        opacity: 20%;
                                    }
                                    60%{
                                        opacity: 35%;
                                    }
                                    70%{
                                        opacity: 40%;
                                    }
                                    80%{
                                        opacity: 45%;
                                    }
                                    90%{
                                        opacity: 50%;
                                    }
                                    100%{
                                        opacity: 100%;
                                    }
                                }    
                    }
                } 
        }
}
    

 /*--------------Footer ----------------------------------*/
footer{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $background-bold;
    color:white;
    text-decoration: none;
    width:$maquette-size;
    height:200px;

    a {
        
        img {
            width:100px;
            height:30px;
            margin-top:5px;
            margin-bottom:5px;

            &:hover{
                transform: scale(1.02);
            }
        }
    }

    .Proposer_un_restaurant{
        display: flex;
        width: 180px;;
        justify-content: space-between;
        text-align: center;
        align-items: center;

        i{
            font-size: 12px;
        }

        a {
            &:hover{
                font-weight:bold;
            }
        }

    }

    .Devenir_partenaire{
        display: flex;
        width: 148px;
        justify-content: space-between;
        text-align: center;
        align-items: center;
      
        i{
            font-size: 12px;
        }
        a {
            &:hover{
                font-weight:bold;
            }
        }
    }
    

    a {
        text-decoration:none;
        color :white;
        &:hover{
            font-weight:bold;
        }
    }
}
/*-----------------------------------------------------------------------------------------*/
/*------------------------------ FIN INDEX.HTML--------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------*/
/*------------------------------ KEYFRAMES--------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

@keyframes chargement_page_accueil {
    0% {
        opacity: 0%;
    }
    90%{
        opacity: 0%;
    }
    100% {
        opacity: 100%;
     }
    }

@keyframes intro_loading_spinner {
    0% {
        opacity: 100%;
    }
    90%{
        opacity: 100%;
    }
    100% {
        opacity: 0%;
     }
    }


    @keyframes spinner {
        100% {
            transform: rotate(360deg);
        }
    }

/*-----------------------------------------------------------------------------------------*/
/*------------------------------ MEDIAS QUERIES-------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
@media screen and (min-width:426px){
    .general_container{
        width:100%;
        /*animation: chargement_page_accueil 2s ease-in-out;*/
    }
    /*----header----*/
    header{
        width:100% ;
    
        img{
            object-fit: contain;
            height: 45px;
            width: 175px;
        }
    }
    /*----Localisation----*/
    .localisation{
        width: 100%;
      
    }
    /*----intro site----*/
    main{
        width: 100%;
    }

    /*----fonctionnement----*/
            .fonctionnement_du_site{
               
                align-items: center;
                width:100%;
            }

    /*----selection restaurants----*/     
    #restaurants{
       align-items: center;
        width:100%;

        h2{
            text-align: center;
        }
    }
    footer{
     
        width:100%;
    align-items: center;
    }
}


@media screen and (min-width:1023px){

    .general_container{
        width:1024px;
        /*animation: chargement_page_accueil 2s ease-in-out;*/
    }

     /*----fonctionnement----*/
     .fonctionnement_du_site{
        display: flex;
        align-items: center;
        width:100%;
        flex-direction: row;
        position: relative;
        justify-content: space-around;

        h2{
            position: absolute;
            top:5%;
            left:424px;
        }
        .regle_fonctionnement {
            display: flex;
            align-items: center;
            text-align: center;
            width: 274px;
            height: 250px;
            background-color: #f6f6f6;
            padding: 0;
            box-shadow: 0px 0px 8px #00000046;
            border-radius: 15px;
            font-weight: bold;
            position: relative;
            padding-left: 0px;
        }
        .number_purple_circle{
            display: inline-block;
            width:50px;
            height:50px;
            background-color:$primary-color;
            border-radius:50%;
            position: absolute;
            top: -25px;
            left: 112px;
            padding: 5px;
            z-index:2;
         
            p{
                font-size: 30px;
            }
        }

        .choissisez_restaurant{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align:center;
            width: 274px; 
            height: 80px;
    
            p{
                font-weight: 400;
                font-size: 16px;
            }
            
        }

        .composez_menu{
            display:flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            text-align:center;
            width: 274px; 
            height: 80px;
    
            p{
                font-weight: 400;
            }
        }

        .dégustez_restaurant{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align:center;
            width: 274px; 
            height: 80px;
    
            p{
                font-weight: 400;
            }
        }

    }
    

    #restaurants{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 725px;
        width:100%;
        position: relative;
        padding: 40px;

        h2{
            position: absolute;
            top:15px
            
        }
        .card_restaurant{
            margin:10px;
        }


    }

}