/* Error: Expected expression.
 *   ,
 * 9 | $background-light : ;
 *   |                     ^
 *   '
 *   sass\librairies\variables.scss 9:21  @import
 *   sass\style.scss 1:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a   \2577 \a 9 \2502  $background-light : ;\d\a   \2502                      ^\a   \2575 \a   sass\\librairies\\variables.scss 9:21  @import\a   sass\\style.scss 1:9                  root stylesheet";
}
