
/*couleurs principales*/
$primary-color: #9356DC ;
$secondary-color : #FF79DA;
$third-color: #99E2D0;

/*couleurs de fond*/
$background-light : #f6f6f6;
$background-medium : #eaeaea;
$background-bold : #353535;
$green-background: #99e2d0;


/*couleurs de fond*/
$ombrage :  0px 0px 8px  #00000046;

/* police */
$green-font : #008766;

